*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.container{
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;

.pai-senha{
    position: fixed;
    display: none;
    margin: 10%;
    justify-content: center;
    background-color: rgb(208, 117, 212);
    padding: 50px 78px;
    border-radius: 8px;
    z-index: 1;
}}

.senha{
    display: block;
    color: #fff;

}

header{
    background-color: rgb(96, 6, 104);
    padding: 32px 0;
    color: #fff;

}

.links-pai{
    background-color: #fff;
    padding: 16px 0;
    border-bottom: 1px solid rgb(96, 6, 104);

    .links__list{
        margin: 0 auto;
        justify-content: center;
        display: flex;
    }
    
    .nav-link{
        color: rgb(96, 6, 104);
    }
}
header>.container h1{
    text-align: center;
}

#regras>.container{
    .mb{
        margin-bottom: 16px;
    }
}

#dicas{
    background-color: rgba(96, 6, 104, 0.8);
    padding: 18px 0;
}

#dicas>.container h2{
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 24px;
}

.dicas__list__item{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

#achar-palavra{
    background-color: rgba(96, 6, 104, 0.8);
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#achar-palavra>.container h2{
    text-align: center;
    color: #dbff0f;
    margin-bottom: 24px;
}

input{
    display: block;
    margin-bottom: 8px;
    height: 45px;
    width: 320px;
    padding: 8px;
}
button{
    width: 320px;
    height: 45px;
    background-color: #0fff73;
    border: none;
    cursor: pointer;
    display: block;
    font-weight: bold;
    border-radius: 8px;
    color: #000;
}

.input-pai, .button-pai{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-some{
    background-color: #fff;
    color: rgba(96, 6, 104, 0.8);
    font-weight: bold;
    display: none;
}

#hero{
    background-image: url(images/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero__content{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 270px 0;
    color: #fff;
}

.text-diferent{
    color: rgba(96, 6, 104, 0.8);
}

footer{
    padding: 32px;
    background-color: rgb(208, 117, 212);
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    align-items: center;
}